_site
/.idea
*.iml

.jekyll-metadata
.rvmrc
Rakefile
Gemfile.lock
/data/environment.yml

.sass-cache/
public/
/static/javascript/setup.js.js
/static/javascript/app.js.js
/static/javascript/features.js.js