---
layout: manual
title: Caractère du système
translations: 
  it: caratteristiche
  en: features
  es: caracteristicas
  de: systemeigenschaften
  cs: vlastnosti-systemu
---

{% assign anchors = "stats|reports|savings|meteo|users|readings|prices|events" | split: "|" %}
{% assign texts = "Statistiques détaillées|Rapports automatiques|Analyse des économies|Données météo|∞ utilisateurs|Relevés faciles|Tarifs integrés|Avertissements" | split: "|" %}

<div class="subheader">
    <div class="container">
        {% include breadcrumbs.html %}
    </div>
</div>

<div class="container">
    <div class="menu__placeholder" rel="menu--sticky"></div>
    <ul class="menu menu--sticky">

        <span class="hidden">{% include generated/features.svg %}</span>

        {% for anchor in anchors %}<li>
            <a href="#{{ anchor | capitalize }}" class="feature__icon">
                <svg viewBox="0 0 100 100">
                    <use xlink:href="#features-{{ anchor }}"></use>
                </svg>
                <span class="feature__icon-text">{{ texts[forloop.index0] }}</span>
            </a>
        </li>{% endfor %}
        <li class="menu__more"><a href="#More" class="feature__icon">+</a></li>
    </ul>
</div>

<div class="content">
    <div class="container">

        <div class="feature">
            <h2 class="feature__title" id="Stats" >Statistiques détaillées de la consommation et des frais</h2>
            <p>Enectiva vous permettra de stocker toutes les données concernant la consommation en un seul endroit et d'une manière claire. Vous pourrez ainsi contrôler la consommation de toutes les sortes d'énergie dont vous vous servez dans le bâtiment (le gaz, l'eau froide et chaude, le chauffage, le refroidissement, l'électricité). Il est possible de sectionner encore plus spécifiquement le monitoring d'énergie en fonction de l'usage de ces énergies. Si nous prenons l'exemple de l'électricité, il s'agit par exemple de l'usage pour le système de ventilation, l'éclairage, où le refroidissement. Toutes les données énergétiques affichées sont disponibles aussi bien en unités techniques qu'en unités monétaires.</p>
            <div class="feature__tour">
                <div class="feature__plan">
                    <img src="/img/features/stats.png">
                    <span class="feature__step-number" style="left: 58%;top: 8%" data-i="1">1</span>
                    <span class="feature__step-number" style="left: 13%;top: 21%" data-i="2">2</span>
                    <span class="feature__step-number" style="left: 90%;top: 20%" data-i="3">3</span>
                    <span class="feature__step-number" style="left: 83%;top: 78%" data-i="4">4</span>
                </div>
                <ul class="feature__steps">
                    <li><span class="feature__step-number" data-i="1">1</span>Sélectionnez l'énergie dont vous désirez afficher les statistiques</li>
                    <li><span class="feature__step-number" data-i="2">2</span>Ajustez les paramètres du diagramme à afficher</li>
                    <li><span class="feature__step-number" data-i="3">3</span>Sélectionnez la periode désirée et appuyez sur Afficher</li>
                    <li><span class="feature__step-number" data-i="4">4</span>Les résultats sont téléchargeables en fichiers .xls</li>
                </ul>
                <div class="feature__details">
                    <div class="feature__detail feature__detail--criss-cross">
                        <img src="/img/features/stats1.svg">
                        <div class="feature__detail-text">
                            <h2>Diagrammes de participation</h2>

                            <p>Grâce aux diagrammes, vous pourrez savoir quelle énergie et à quelle mesure participe aux frais définitifs, quelle est la consommation de telle ou telle partie du bâtiment par rapport à la consommation totale de la propriété. Vous pourrez aussi visualiser la participation en fonction des locataires etc. L'auditeur énergétique ou le manageur apprécieront la possibilité de la visialisation de la consommationnon relevée, c'est à dire de la différence entre la somme de tous les compteurs secondaires et la mesure sur le compteur principal de facturation.</p>
                        </div>
                    </div><div class="feature__detail feature__detail--criss-cross">
                        <img src="/img/features/stats2.svg" class="feature__bottom">
                        <div class="feature__detail-text">
                            <h2>Diagrammes comparatifs</h2>

                            <p>Les diagrammes comparatifs vous permettent de comparer la consommation de deux ou plusieurs entités du même caractère (soi-disant benchmarking énergétique). Désirez-vous comparer la consommation de chaleur de tous vos biens immobiliers répartie en mètre carré de la surface louée? Sans problème avec les diagrammes comaratifs. Vous pouvez ainsi comparer les locataires individuels entre eux, ou bien des espaces de production par rapport à leur niveau de production.</p>
                        </div>
                    </div><div class="feature__detail feature__detail--criss-cross">
                        <img src="/img/features/stats3.svg" class="feature__bottom">
                        <div class="feature__detail-text">
                            <h2>Consommations mensuelles</h2>

                            <p>Celles-ci visualisent le développement de la consommation des énergies individuelles au fil de l'année. Il est possible de rajouter le développement des températures dans le diagramme et surveiller ainsi si la consommation corresponde aux conditions climatiques de la localité donnée. Grâce aux tarifs intégrés de toutes les sortes d'énergie, ces diagrammes peuvent être changés aux diagrammes des frais définitifs. En ouvrant la colonne du mois, la statistique des jours individuels s'affiche. En appuyant sur la colonne du jour, la consommation au niveau d'heures s'affiche. Cliquant hors les colonnes, le système vous remet en arrière.</p>
                        </div>
                    </div><div class="feature__detail feature__detail--criss-cross">
                        <img src="/img/features/stats4.svg" class="feature__bottom">
                        <div class="feature__detail-text">
                            <h2>Diagrammes de développement</h2>

                            <p>Ces diagrammes affichent la somme cumulative de la consommation ou des frais. Cela vous permet facilement apprendre quelle est la tendance de croissance de votre consommation pendant une certaine période.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature">
            <h2 class="feature__title" id="Reports" >Rapports automatiques</h2>
            <p>Présélectionnez tout facilement la fonction des rapports automatiquement générés sur la consommation ou les frais journaliers, hebdomadaires ou mensuels, éventuellement sur les résultats des mesures d'économie établies.
                Rendez les opérations régulières automatiques et éliminez ainsi les tâches administratives de votre équipe.</p>
            <div class="feature__tour">
                <div class="feature__plan">
                    <img src="/img/features/reports.png">
                    <span class="feature__step-number" style="left: 91%;top: 0%" data-i="1">1</span>
                    <span class="feature__step-number" style="left: 24%;top: 51%" data-i="2">2</span>
                </div>
                <ul class="feature__steps">
                    <li><span class="feature__step-number" data-i="1">1</span>Les rapports automatiques peuvent être présélectionnés chez tous les diagrammes dans le système Enectiva</li>
                    <li><span class="feature__step-number" data-i="2">2</span>Choisissez la fréquence dans laquelle vous désirez recevoir les rapports</li>
                </ul>
                <div class="feature__details">
                    <div class="feature__detail feature__detail--split">
                        <h2>Rapport régulier</h2>
                        <p>Dès que vous présélectionnez la période, vous allez recevoir automatiquement le rapport avec toutes les données sur votre adresse e-mail. La quantité de données et le contenu du rapport dépendent de votre présélection. Les données sur la consommation et sur les frais du rapport peuvent être affichées en forme de tableau, aussi bien qu'en forme de diagramme. Il est possible que chaque utilisateur se fait sa propre présélection du rapport pour ne recevoir que les données auxquelles il s'intéresse ou qui le concernent. L'utilisateur n'est donc plus obligé d'aller chercher les données nécessaires dans des fichiers énormes.</p>
                    </div>
                    <div class="feature__detail feature__detail--split">
                        <h2>Avertissements automatiques</h2>
                        <p>L'avertissement sert à vous tenir automatiquement au courant sur l'atteinte d'un certain moment critique de la consommation, des frais ou de la température. Dans ce cas encore, le choix des éléments contrôlés dans Enectiva dépend de vos préférences. Il peut s'agir par exemple du dépassement d'une certaine valeur de la consommation ou des frais, de l'exigence de la réalisation d'une révision d'une des technologies ou d'un compteur, du changement de la température extérieure ou encore (grâce à la connexion entre Enectiva et les bourses de l'énergie) du développement des tarifs des énergies sur les bourses PEX et FEX. La présélection juste d'avertissements permet de révéler de nombreux cas de gaspillage au cours de l'année.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature">
            <h2 class="feature__title" id="Savings" >Analyse d'économies</h2>
            <p>Si vous réalisez un projet énergétique ou si vous appliquez des mesures d'économie concernant votre propriété, il est important de suivre la seconde et aussi importante phase du projet –
                monitoring, évaluation, établissement des rapports et éventuellement d'autres optimisation. Ni le meilleur projet ne peut prendre en compte tous les facteurs influants les résultats réels. Si vous désirez vraiment réaliser des économies énergétiques, l'évaluation des résultats est indispensable pour vous.</p>
            <div class="feature__tour">
                <div class="feature__plan">
                    <img src="/img/features/savings.png">
                    <span class="feature__step-number" style="left: 48%;top: 11%" data-i="1">1</span>
                    <span class="feature__step-number" style="left: 0%;top: 11%" data-i="2">2</span>
                    <span class="feature__step-number" style="left: 0%;top: 80%" data-i="3">3</span>
                    <span class="feature__step-number" style="left: 80%;top: 72%" data-i="4">4</span>
                </div>
                <ul class="feature__steps">
                    <li><span class="feature__step-number" data-i="1">1</span>Economies mensuelles réellement touchées</li>
                    <li><span class="feature__step-number" data-i="2">2</span>Prévision de futures économies et frais pour les années suivantes</li>
                    <li><span class="feature__step-number" data-i="3">3</span>Prévision et cashflow réel du projet énergétique</li>
                    <li><span class="feature__step-number" data-i="4">4</span>Informations économiques résumées du projet</li>
                </ul>
                <div class="feature__details">
                    <p>Le système Enectiva rendra vos tâches plus faciles et il effectuera tous les calculs au lieu de vous. La prédiction des frais et des économies fondée sur la moyenne des trois dernières années sera à votre disposition, aussi bien que le résumé des économies mensuelles réalisées grâce aux mesures appliquées et la prédiction du cashflow. Vous pourrez ainsi facilement savoir s'il se trouve votre projet en phase du remboursement de l'investissement, s'il est déjà rentable, ou quelle est la valeur supposée actuelle NPV pour la fin du projet.</p>
                </div>
            </div>
        </div>

        <div class="feature">
            <h2 class="feature__title" id="Meteo" >Données météo</h2>
            <p>Le système Enectiva est branché sur le réseau des stations météo à travers la République tchèque entière. En entrant les données sur votre propriété dans le système, vous pouvez choisir la station la plus proche de votre bien immobilier. Les données de cette station seront employées par le système pour obtenir les indications climatiques, lesquelles vous pouvez afficher dans le diagramme ensemble avec les données sur la consommation d'énergies particulières. Vous pourrez ainsi facilement savoir, si la consommation de l'énergie pour le chauffage et pour le refoidissement est en accord avec les conditions climatiques. Une telle comparaison peut facilement découvrir des fautes de l'ajustement de ces systèmes de chauffage ou de refroidissement.</p>
            <div class="feature__tour">
                <div class="feature__plan">
                    <img src="/img/features/meteo.png">
                    <span class="feature__step-number" style="left: 51%;top: 7%" data-i="1">1</span>
                    <span class="feature__step-number" style="left: 47%;top: 53%" data-i="2">2</span>
                    <span class="feature__step-number" style="left: 70%;top: 77%" data-i="3">3</span>
                </div>
                <ul class="feature__steps">
                    <li><span class="feature__step-number" data-i="1">1</span>Cochez l'affichage de la température</li>
                    <li><span class="feature__step-number" data-i="2">2</span>Découvrez les cas, où le chauffage ou le refroidissement sont à l'origine des gaspillages</li>
                    <li><span class="feature__step-number" data-i="3">3</span>Affichez la température moyenne, minimale ou maximale</li>
                </ul>
            </div>
        </div>

        <div class="feature">
            <h2 class="feature__title" id="Users" >Nombre illimité d'utilisateurs dans le cadre d'une licence</h2>
            <p>Le système d'autorisation d'Enectiva est tout à fait particulier en République tchèque surtout grâce à la quantité de bâtiments et de compteurs qui peuvent être monitorés. Le nombre d'utilisateurs du système ou le nombre d'ordinateurs d'accès n'ont aucune importance. C'est donc à vous de définir le nombre de comptes d'utilisateur, et cela directement dans le système Enectiva en fonction de vos besoins actuels sans que ce changement du nombre se manifesterait dans votre facture.</p>
            <p>L'avantage suivant de ce système d'autorisation est le fait, que vous n'êtes pas obligés de communiquer chaque changement du nombre d'utilisateurs à notre équipe, ce qui élimine l'administration y liée. Pour le résultat, vous obtiendrez une administration plus efficace des comptes d'utilisateur qui sera toujours en accord avec vos besoins actuelles et avec la structure de votre société.</p>
            <div class="feature__tour">
                <div class="feature__plan">
                    <img src="/img/features/users.png">
                    <span class="feature__step-number" style="left: 28%;top: 14%" data-i="1">1</span>
                    <span class="feature__step-number" style="left: 28%;top: 32%" data-i="2">2</span>
                    <span class="feature__step-number" style="left: 28%;top: 69%" data-i="3">3</span>
                </div>
                <ul class="feature__steps">
                    <li><span class="feature__step-number" data-i="1">1</span>Remplissez les données de connexion du nouvel utilisateur</li>
                    <li><span class="feature__step-number" data-i="2">2</span>Sélectionnez le type d'autorisation</li>
                    <li><span class="feature__step-number" data-i="3">3</span>Dans le cas de besoin, remplissez d'autres informations, y compris les données de facturation</li>
                </ul>
            </div>
        </div>

        <div class="feature">
            <h2 class="feature__title" id="Readings" >Soutien pour les relevés manuels aussi bien qu'automatiques à distance</h2>
            <p>Vous pouvez entrer les relevés dans le système Enectiva manuellement, ou les relevés peuvent être expédiés entièrement automatiquement à distance à partir du compteur. En ce qui concerne les relevés automatiques, ils économisent le temps de vos techniciens et, de plus, ils peuvent être envoyés en fréquence de 10 minuttes jusqu'en fréquence de 24 heures. Enectiva soutient tout un rang de dispositifs hardware à l'aide desquels il est possible d'effectuer les relevés. Les données sont transférables par le fil ou sans fil. Ni la marque ni le type du compteur ne sont important pour le fonctionnement. Enectiva est un système ouvert dont l'environnement d'utilisation est disponible au public.</p>
            <p>Pour les relevés manuels, vous pouvez vous servir du simple formulaire que vous trouverez directement dans le système Enectiva sous le bouton "Relevés massifs", ou (par exemple pour l'importation de relevés plus anciens) d'un formulaire déjà prêt en forme de fichier xls (MS Excel). Il est également possible d'ouvrir chaque compteur séparément et d'y entrer le relevé individuellement.</p>
            <div class="feature__tour">
                <div class="feature__plan">
                    <img src="/img/features/readings.png">
                    <span class="feature__step-number" style="left: 0%;top: 20%" data-i="1">1</span>
                    <span class="feature__step-number" style="left: 29%;top: 20%" data-i="2">2</span>
                    <span class="feature__step-number" style="left: 21%;top: 86%" data-i="3">3</span>
                </div>
                <ul class="feature__steps">
                    <li><span class="feature__step-number" data-i="1">1</span>Vous entrez les relevés pour toutes les énergies. Et tout cela d'une manière claire à l'aide d'un formulaire.</li>
                    <li><span class="feature__step-number" data-i="2">2</span>En entrant les relevés, vous pouvez déjà suivre le développement de la consommation, et cela à partir des trois derniers relevés.</li>
                    <li><span class="feature__step-number" data-i="3">3</span>Une fois les données sauvegardées, elles se visualisent dans les diagramme et les statistiques. Vous pouvez vous en servir pour la facturation.</li>
                </ul>
            </div>
            <div class="feature__details">
                <p>Nos clients qui possèdent plusieurs propriétés profitent de la possibilité de combiner les relevés automatiques avec les manuels, ce qui ne pose aucun souci à notre système et c'est entièrement au client de faire la décision pour quels compteurs et de quelle façon il va réaliser les relevés.</p>
            </div>
        </div>

        <div class="feature">
            <h2 class="feature__title" id="Prices" >Tarifs intégrés d'énergies</h2>
            <p>Enectiva contient les tarifs de tous les distributeurs d'énergies opérants en République tchèque. Vous pouvez ainsi sélectioner votre distributeur dans le système et remplir le prix d'unité de l'énergie contracté avec votre distributeur. Enectiva va calculer automatiquement les frais totaux d'après les formules données par CRE (Commission de régulation de l'énergie). Nous adaptons les tarifs aux décisions de changements des tarifs pris par CRE.</p>
            <div class="feature__tour">
                <div class="feature__plan">
                    <img src="/img/features/prices.png">
                    <span class="feature__step-number" style="left: 0%;top: 25%" data-i="1">1</span>
                    <span class="feature__step-number" style="left: 0%;top: 40%" data-i="2">2</span>
                    <span class="feature__step-number" style="left: 59%;top: 7%" data-i="3">3</span>
                </div>
                <ul class="feature__steps">
                    <li><span class="feature__step-number" data-i="1">1</span>Sélectionnez le titre, le type d'énergie et son distributeur</li>
                    <li><span class="feature__step-number" data-i="2">2</span>Remplissez le prix d'unité de l'énergie</li>
                    <li><span class="feature__step-number" data-i="3">3</span>Visualisez d'autres participants du prix y compris les frais de distribution</li>
                </ul>
            </div>
        </div>

        <div class="feature">
            <h2 class="feature__title" id="Events" >Evénements et avertissements</h2>
            <p>Dans le système, vous pouvez faire des changements concernant votre propriété ou votre portefeuille (en conséquence par exemple du changement de la source de chaleur, du distributeur d'énergie, des tarifs, des fenêtres ou d'une nouvelle isolation thermique du bâtiment). Ces changements peuvent être visualisés dans les diagrammes mensuels de la consommation. Cette fonction vous permettra de voir l'effet de ces changements à la consommation et aux frais.</p>
            <div class="feature__tour">
                <div class="feature__plan">
                    <img src="/img/features/events1.png">
                    <span class="feature__step-number" style="left: 92%;top: 1%" data-i="1">1</span>
                    <span class="feature__step-number" style="left: 67%;top: 52%" data-i="2">2</span>
                </div>
                <ul class="feature__steps">
                    <li><span class="feature__step-number" data-i="1">1</span>Les événements sauvegardés sont affichés directement avec le résumé de la consommation</li>
                    <li><span class="feature__step-number" data-i="2">2</span>Vous pouvez ainsi facilement apprendre l'effet d'un certain événement à la consommation</li>
                </ul>
            </div>

            <p>En fonction de votre présélection, Enectiva est capable de vous avertir par exemple sur une augmentation ou diminution soudaines de la consommation, de la température extérieure, des frais etc. Dès qu'un tel changement apparaît, vous receverez automatiquement sur toutes les adresses mail, que vous avez indiquées, un avertissement de la part du système Enectiva. Cette fonction vous permet d'éviter des frais inutils en cas d'une panne (fuite d'eau ou de gaz) ou de réagir plus vite aux fluctuations climatiques imprévisibles.</p>
            <div class="feature__tour">
                <div class="feature__plan">
                    <img src="/img/features/events2.png">
                    <span class="feature__step-number" style="left: 0%;top: 19%" data-i="1">1</span>
                    <span class="feature__step-number" style="left: 0%;top: 34%" data-i="2">2</span>
                    <span class="feature__step-number" style="left: 0%;top: 58%" data-i="3">3</span>
                    <span class="feature__step-number" style="left: 66%;top: 48%" data-i="4">4</span>
                </div>
                <ul class="feature__steps">
                    <li><span class="feature__step-number" data-i="1">1</span>Entrez les critères pour les avertissements</li>
                    <li><span class="feature__step-number" data-i="2">2</span>Ajoutez le texte d'avertissement du message que l'utilisateur recevra</li>
                    <li><span class="feature__step-number" data-i="3">3</span>Sélectionnez les utilisateurs qui devraient obtenir les avertissements</li>
                    <li><span class="feature__step-number" data-i="4">4</span>Evitez le gaspillage causé par exemple par une panne nocturne</li>
                </ul>
            </div>
        </div>



        <div class="feature">
            <h2 class="feature__title" id="EasyControl">Gestion simple</h2>
            <p>Même les utilisateurs non doués pour l'énergétique peuvent saisir l'énergétique et le management énergétique. Au cours du développement de l'environnement d'utilisation, notre équipe mettait l'accent sur une simplicité maximale et sur l'intuitivité du système Enectiva. Toutes les fonctions et la gestion du système sont développées de la manière que chaque utilisateur soit capable, juste après une courte formation, de s'orienter facilement dans le système. En développant Enectiva, nous nous sommes laissés inspirer par exemple par des produits de la société Google.</p>

            <div class="feature__details">
                <div class="feature__detail feature__detail--criss-cross">
                    <img src="/img/features/easy_control1.svg">
                    <div class="feature__detail-text">
                        <h2>Orientation simple dans les compteurs</h2>

                        <p>En Enectiva, les compteurs sont placés en plans des bâtiments. Il est donc très simple de visualiser chaque étager d'un bâtiment séparément et éditer ainsi les compteurs à partir de ce plan. Vous ou votre technicien n'êtes plus obligés de perdre votre temps en fouillant des documents et des tableaux juste dans le but de trouver où se trouve tel ou tel compteur.</p>
                    </div>
                </div><div class="feature__detail feature__detail--criss-cross">
                    <img src="/img/features/easy_control2.svg">
                    <div class="feature__detail-text">
                        <h2>Fonction Drag&amp;Drop</h2>

                        <p>Enectiva cherche à résoudre n'importe quelle tâche de la manière la plus simple et la plus élégante. La fonction Drag&amp;Drop vous permet de ... par un simple vám umožní pouhým uchopením a přetáhnutím nájemníka, budovy nebo komplexu přemístit veškerá data do nově zvolené nadřazené kategorie. Pokud například spravujete portfolio více investorů a jeden od druhého odkoupí nemovitost, přenesete veškerá data o této nemovitosti jedním jediným pohybem do portfolia nového majitele.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature">
            <h2 class="feature__title" id="More">Qutres fonctions</h2>
            <p>Même les utilisateurs non doués pour l'énergétique peuvent saisir l'énergétique et le management énergétique. Au cours du développement de l'environnement d'utilisation, notre équipe mettait l'accent sur une simplicité maximale et sur l'intuitivité du système Enectiva. Toutes les fonctions et la gestion du système sont développées de la manière que chaque utilisateur soit capable, juste après une courte formation, de s'orienter facilement dans le système. En développant Enectiva, nous nous sommes laissés inspirer par exemple par des produits de la société Google.</p>

            <div class="feature__details">
                <div class="feature__detail feature__detail--criss-cross">
                    <img src="/img/features/more1.svg">
                    <div class="feature__detail-text">
                        <h2>Connexion avec les bourses PEX et EEX</h2>

                        <p>Grâce à la connexion entre Enectiva et les bourses de l'énergie PEX et EEX, vous pouvez suivre le développement des tarifs d'électricité et de gaz directement de votre compte Enectiva. Vous pouvez ainsi facilement apprendre quel est la tendance du développement des tarifs et quand c'est le plus favorable d'organiser l'appel d'offres pour le distributeur d'énergies. En fonction de votre présélection, Enectiva vous enverra également, à l'aide du rapport automatique, un avertissement au moment, où les tarifs d'énergie touchent les valeurs exigées.</p>
                    </div>
                </div><div class="feature__detail feature__detail--criss-cross">
                    <img src="/img/features/more2.svg" class="feature__bottom">
                    <div class="feature__detail-text">
                        <h2>Google Maps supporés</h2>

                        <p>Avez-vous besoin d'obtenir immédiatement des informations concernant des bâtiments différents? Laissez tomber la quête des données dans de nombreux classeurs sortis de l'archive. Dans Enectiva, vous pouvez passer simplement en trois clics d'un bâtiment sur l'autre, et cela grâce à la connexion avec Google Maps.</p>
                    </div>
                </div><div class="feature__detail feature__detail--criss-cross">
                    <img src="/img/features/more3.svg">
                    <div class="feature__detail-text">
                        <h2>Facility management</h2>

                        <p>Enectiva comporte des éléments de base du facility managementu, y compris des paramètres comme "surface de plancher totale", „surface de plancher hors œuvre brute"  ou "surface à louer brute". Dans Enectiva, les surfaces peuvent être distinguées en fonction de leur emploi (il peut s'agir par exemple de bureau, magasin, environnement, commerce de détail etc.) Vous pouvez également entrer dans le système les données sur le nombre d'habitants du bâtiment, le nombre de places de stationnement, de cuisines, des toilettes etc. Tous ces paramètres se divisent en nombre total et en nombre correspondant à l'exploitation des espaces. Grâce à cela, Enectiva permet convertir la consommation et les frais en consommation de mesure ou en frais de mesure en fonction du critère sélectionné. Grâce à la sauvegarde des données, vous pouvez visualiser le développement historique n'importe quand dans l'avenir.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
