{% assign locale = page.url | extract_locale %}
<div class="footer">
    <div class="container">
        {% include footer_menu.html %}
        {% include newsletter_signup.html %}
        <div class="footer__author author" itemprop="author" itemscope itemtype="http://schema.org/Organization">
            <p>{{ 'intro' | translate: locale }} <a href="http://enerfis.cz" itemprop="name" itemprop="url">Enerfis&nbsp;s.r.o.</a></p>
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">Drtinova 557/10</span>
                <span itemprop="addressLocality">{{ 'city' | translate: locale }} 5</span>
            </div>
            <a href="http://enerfis.cz">www.enerfis.cz</a>
        </div>
    </div>
</div>