{% assign locale = page.url | extract_locale %}
<label for="Menu-toggle" class="header__menu-toggle-switch">&equiv;</label>
<input type="checkbox" id="Menu-toggle" class="header__menu-toggler">

<ul class="header__menu menu menu--important menu--activable" itemscope itemtype="http://schema.org/SiteNavigationElement">
	{% include menu_items.html locale=locale menu='login' %}
	{% include menu_items.html locale=locale menu='main' %}
    {% for current_locale in site.authorized_locales %}
        {% if locale != current_locale %}
            <li class="langSwitch">
                <a href="/{{ current_locale }}/{{ site.data.menu.main[current_locale].first.path }}">{{ current_locale | upcase }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>