{% assign locale = page.url | extract_locale %}
<ul class="header__menu menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
{% if locale == 'en' %}
    <li class="divideAfter"><a href="/en">Login to the system</a></li>
	{% for item in site.data.menu.en %}
		<li>
            {% capture url %}/en/{{ item.path }}{% endcapture %}
            {% assign currentUrl = page.url | remove: '/index.html' %}
            {% assign activeClass = '' %}
            {% if currentUrl == url %}
                {% assign activeClass = 'class="active"' %}
            {% endif %}
			<a href="{{url}}" {{activeClass}}>{{ item.name }}</a>
		</li>
	{% endfor %}
    <li class="divideBefore langSwitch"><a href="/cs/{{ site.data.menu.cs.first.path }}/">CS</a></li>
    <li class="langSwitch"><a href="/it/{{ site.data.menu.it.first.path }}/">IT</a></li>
{% elsif locale == 'it' %}
    <li class="divideAfter"><a href="/it">Login</a></li>
    {% for item in site.data.menu.it %}
    <li>
        {% capture url %}/it/{{ item.path }}{% endcapture %}
        {% assign currentUrl = page.url | remove: '/index.html' %}
        {% assign activeClass = '' %}
        {% if currentUrl == url %}
        {% assign activeClass = 'class="active"' %}
        {% endif %}
        <a href="{{url}}" {{activeClass}}>{{ item.name }}</a>
    </li>
    {% endfor %}
    <li class="divideBefore langSwitch"><a href="/cs/{{ site.data.menu.cs.first.path }}/">CS</a></li>
    <li class="langSwitch"><a href="/en/{{ site.data.menu.en.first.path }}/">EN</a></li>
{% else %}
    <li class="divideAfter"><a href="/cs">Přihlášení do systému</a></li>
	{% for item in site.data.menu.cs %}
		<li>
            {% capture url %}/cs/{{ item.path }}{% endcapture %}
            {% assign currentUrl = page.url | remove: '/index.html' %}
            {% assign activeClass = '' %}
            {% if currentUrl == url %}
            {% assign activeClass = 'class="active"' %}
            {% endif %}
            <a href="{{url}}" {{activeClass}}>{{ item.name }}</a>
		</li>
	{% endfor %}
    <li class="divideBefore langSwitch"><a href="/en/{{ site.data.menu.en.first.path }}/">EN</a></li>
    <li class="langSwitch"><a href="/it/{{ site.data.menu.it.first.path }}/">IT</a></li>
{% endif %}
</ul>