@import "compass/css3/transform"

.feature
  margin-bottom: 2.5em
  &__title
    color: $color-primary
    padding-top: .5em
  &__tour
    margin-top: .5em

  &__plan
    position: relative
    img
      width: 100%
    .feature__step-number
      position: absolute
      left: 120px
      top: 120px
  =step-number($dim)
    width: $dim
    height: $dim
    line-height: $dim
    border-radius: $dim

  &__step-number
    +adjust-font-size-to($base-font-size * .65)
    +step-number(20px)
    background: $color-secondary-light
    border: 1px solid transparent
    color: white
    display: inline-block
    text-align: center
    font-weight: bold
    margin-right: .75em
    +transition(all 200ms linear)
    &--active
      color: $color-secondary-light
      background-color: white
      border-color: $color-secondary-light
      +scale(1.2, 1.2)

  @media(min-width: 500px)
    &__step-number
      +adjust-font-size-to($base-font-size * .8)
      +step-number(20px + (20 / 7 * 3))

  ul.feature__steps
    display: inline-block
    padding: 0
    margin: 0 0 0 2%
    li
      padding: .5em 0
      list-style-type: none
  &__plan, ul.feature__steps
    vertical-align: middle

  @media(min-width: 750px)
    &__plan
      display: inline-block
      width: 55%

    &__step-number
      +adjust-font-size-to($base-font-size * 1)
      +step-number(40px)

    ul.feature__steps
      width: 40%

  &__details
    margin-top: 1em
  &__detail
    margin: 2em 0
    position: relative
    img
      width: 30%
      margin-top: .7em
      display: inline-block
      vertical-align: middle

    @media(max-width: 500px)
      img
        display: none

    @media(min-width: 800px)
      img
        width: 10%
        &.feature__bottom
          vertical-align: bottom
    h2
      +adjust-font-size-to($base-font-size * 1.1)
      font-weight: bold

    &--criss-cross:nth-of-type(odd)
      direction: rtl

    &--split
      display: inline-block
    @media(min-width: 800px)
      &--split
        vertical-align: top
        width: 47%
        &:nth-of-type(odd)
          margin-right: 3%

  &__detail-text
    display: inline-block
    vertical-align: middle
    width: 65%
    margin-left: 1%
    direction: ltr
  &__detail:nth-of-type(odd)
    .feature__detail-text
      margin-left: 0
      margin-right: 1%

  @media(max-width: 500px)
    &__detail-text
      width: 100%

  @media(min-width: 800px)
    &__detail-text
      width: 88%

  &__icon
    +single-transition(all, ease-in-out, 200ms)
    svg
      width: 90%
      height: 4vh
      display: inline-block
      fill: $color-primary
      +single-transition(all, ease-in-out, 200ms)

    &:hover, &--active
      .feature__icon-text
        color: $color-secondary-light
      svg
        fill: $color-secondary-light
  @media(min-height: 650px)
    &__icon
      svg
        height: 6vh

  &__icon-text
    font-size: $base-font-size * .65
    line-height: .8em
  @media(min-height: 600px)
    &__icon-text
      +adjust-font-size-to($base-font-size * .85)


// Legacy style for non-CS versions
.feature
  clear: both
  &__image
    +rounded-image(145px)
    margin-right: 20px
    +single-transition(all, ease-in-out, 150ms)
    +rhythm-margins(1)
    img
      margin: 0
    &:hover, &:focus, &:active
      border-color: $unimportant
  &__desc
    display: none
  &__toggler
    display: block
    float: right
    &--more
      &:after
        content: "▼"
    &--less
      &:after
        content: "▲"
  &:nth-child(even)
    .feature__image
      margin-right: 0
      margin-left: 20px
      float: right