{{ $url1 := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $url2 := replace $url1 "blog" ""}}
{{ $blog := (printf "%s" (replace $url2 "/" "")) }}
{{ $lang := substr $blog 0 2}}

{{ $url :=  printf "%s" .Site.Data.authors.enectiva.url }}
{{ $name := printf "%s" (index .Site.Data.authors.enectiva.name $lang) }}



            <div class=" authors signature">

                <a href="{{ $url }}">{{ $name }}</a>
            </div>
    <!-- Closing Container from hat -->
      </div>
<!-- Closing Content from hat -->
</div>
