{{ $url1 := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $url2 := replace $url1 "reseni" ""}}
{{ $blog := (printf "%s" (replace $url2 "/" "")) }}
{{ $lang := substr $blog 0 2}}

{{ partial "head" . }}
<div class="content">
  <div class="container">
      {{ .Content }}
  </div>
</div>
{{ if isset $.Params "partner" }}
<div class="content">
  <div class="container">
    <form accept-charset="UTF-8" action="/{{ $lang }}/welcome/process_contact_form" method="post" id="ContactForm" class="contact">
      {{ .Render "form" }}
    </form>
  </div>
</div>
{{ end }}

{{ partial "cta.html" .}}

{{ partial "base/footer" . }}
