{{ $url1 := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $url2 := replace $url1 3 "" }} 
{{ $blog := (printf "%s" (replace $url2 "/" "")) }}
{{ $lang := substr $blog 0 2 }}
{{ $l := index (index .Site.Data.locales $lang) $lang }}

{{ partial "head" . }}

{{ .Content }}

<div class="content">
    <div class="container">

        <div class="hardware__menu item__hidden">
            {{ range $category := .Site.Data.hardware_categories.categories }}
               <a href="#{{ $category }}" class="hardware__menu-item" data-group="{{ $category }}"> {{ index $l.hardware_categories $category }} </a>
            {{ end }}
        </div>
        
        <div class="hardware__filters-menu item__hidden">
            {{ $products := (where .Site.Pages "Type" "hardware-product").ByWeight }}
            {{ range $category, $prop := .Site.Data.hardware_properties }}
                <div class="hardware__filters-categories" data-group="{{ $category }}">
                    {{ range $prop }}
                        {{ $property := . }}
                        <span class="hardware__filter-name" data-hardware-filter-property="{{ $property }}">{{ index $l.hardware_properties $property }}:</span>
                        <select class="hardware__filter-select" data-hardware-filter-property="{{ $property }}">
                            <option value="default">{{ $l.hardware_properties.all }}</option>
                            {{ range (where $products ".Params.hardware_category" $category) }}
                                {{ $url1 := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
                                {{ $url2 := replace $url1 3 "" }} 
                                {{ $blog := (printf "%s" (replace $url2 "/" "")) }}
                                {{ $candidateLang := substr $blog 0 2 }}
                                {{ if eq $candidateLang $lang}}
                                    {{ range $properties, $val := .Params.hardware_properties}}
                                        {{ range $val }}
                                            {{ if eq $properties $property }}
                                                <option class="filters__item" value="{{ . }}">{{ . }}</option>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </select>
                    {{ end }}
                </div>
            {{ end }}
        </div>

    
        {{ $products := (where .Site.Pages "Type" "hardware-product").ByWeight }}
        {{ range $category, $ := .Site.Data.hardware_properties }}
            <div class="hardware__section" data-group="{{ $category }}">
                <h2 class="hardware__product-promo-title item__visible">{{ index $l.hardware_categories $category }}</h2>
                {{ range (where $products ".Params.hardware_category" $category) }}      
                    {{ $url1 := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
                    {{ $url2 := replace $url1 3 "" }} 
                    {{ $blog := (printf "%s" (replace $url2 "/" "")) }}
                    {{ $candidateLang := substr $blog 0 2 }}
                    {{ if eq $candidateLang $lang}}
                        <div class="hardware__product-promo" {{ range $prop, $val := .Params.hardware_properties }}data-hardware-filter-property-{{$prop}}="{{ range $val }}{{ . }} {{ end }}"{{ end }}> 
                            <a class="hardware__product-promo-link" href="{{ .Permalink }}">
                                <img class="hardware__image" src= "{{ .Params.hardware_image }}">
                                <h4 class="hardware__title">{{ .Title }}</h4>
                            </a>
                            <p>{{ .Description }}</p>
                            <a href="{{ .Permalink }}" class="hardware__read-more hardware__title">{{ $l.hardware.detail }}</a>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}
        
    </div>
</div>

{{ partial "cta.html" .}}

{{ partial "base/footer" . }}
