{{ $url1 := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $url2 := replace $url1 "blog" ""}}
{{ $blog := (printf "%s" (replace $url2 "/" "")) }}
{{ $lang := substr $blog 0 2}}

{{ $date := (index (index .Site.Data.locales $lang) $lang).date.formats.default }}

<div class="posts__post post post--in-list" itemscope itemtype="http://schema.org/BlogPosting">
	<h2 class="post__title" itemprop="name headline">
		<a href="{{ .Permalink }}" itemprop="sameAs">{{ .LinkTitle }}</a>
	</h2>
	<time class="post__published" datetime='{{ .Date.Format $date }}' itemprop="dateCreated">
		{{ partial "internal/date" .}}
	</time>
	{{ if eq .Site.Params.truncate false }}
		{{ .Content }}
	{{ else if .Description }}
		<p class="post__perex">{{ .Description }}</p>
		<a href="{{ .Permalink }}">Read On &rarr;</a>
	{{ else }}
		{{ .Summary }}
		{{ if .Truncated }}<a href="{{ .Permalink }}">Read On &rarr;</a>{{ end }}
	{{ end }}
</div>