<br />
<br />
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <div class="halfPanel">
		 <h2>E-mail</h2>

        <dl>
                <dt>Información general</dt>
                <dd><a href="mailto:info@enectiva.com" itemprop="email">info@enectiva.com</a></dd>

                <dt>Soporte Técnico</dt>
                <dd><a href="mailto:soporte@enectiva.com" itemprop="email">soporte@enectiva.com</a></dd>

                <dt>Socios</dt>
                <dd><a href="mailto:partner@enectiva.cz" itemprop="email">partner@enectiva.cz</a></dd>

        </dl>
        </div>

        <div class="halfPanel">
          <h2>Contactos Telefónicos</h2>
          <ul>
            <li>Teléfono: <span itemprop="telephone">955 253 391</span></li>
          </ul>
        </div>
        <br />
        <p class="clear">
        La dirección para la correspondencia y facturación : <strong>Enectiva España</strong>, <span itemprop="streetAddress">Av. Eduardo Dato 69, 5ª P, Edificio Galia Nervión</span>, <span itemprop="postalCode">41005</span>, <span itemprop="addressLocality">Sevilla</span>, <span itemprop="addressCountry">España.</span>
        </p>
    </div>
</div>
</div>

</div>
