<br />
<br />
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <div class="halfPanel">
		 <h2>E-mailové adresy</h2>

        <dl>
                <dt>Obecné informace</dt>
                <dd><a href="mailto:info@enectiva.cz" itemprop="email">info@enectiva.cz</a></dd>

                <dt>Technická podpora</dt>
                <dd><a href="mailto:podpora@enectiva.cz" itemprop="email">podpora@enectiva.cz</a></dd>

                <dt>Obchodní záležitosti</dt>
                <dd><a href="mailto:obchod@enectiva.cz" itemprop="email">obchod@enectiva.cz</a></dd>

                <dt>Pro partnery</dt>
                <dd><a href="mailto:partner@enectiva.cz" itemprop="email">partner@enectiva.cz</a></dd>

        </dl>
        </div>

        <div class="halfPanel">
          <h2>Telefonní kontakty</h2>
          <ul>
            <li>Tel: <span itemprop="telephone">+420 222 766 950</span></li>
            <li>Tel: <span itemprop="telephone">+420 222 766 951</span></li>
            <li>Mob: <span itemprop="telephone">+420 732 916 385</span></li>
            <li>Fax: <span itemprop="faxNumber">+420 222 766 959</span></li>
          </ul>
        </div>
        <br />
        <p class="clear">
        <strong>Enerfis s.r.o.</strong>, <span itemprop="streetAddress">Drtinova 557/10</span>, <span itemprop="addressLocality">Praha 5</span> <span itemprop="postalCode">150 00</span>, <span itemprop="addressCountry">Česká republika</span> <br />
        <img src="/img/youtube_logo.png" class="text">YouTube kanál: <a href="http://www.youtube.com/user/Enerfis">www.youtube.com/user/Enerfis</a>
        </p>
    </div>
</div>
</div>

</div>
