---
layout: manual
title: Functions of the system
translations:
  it: caratteristiche
  en: features
  es: caracteristicas
  de: systemeigenschaften
  fr: caractere-du-systeme
published: true
---

{% assign anchors = "stats|reports|savings|meteo|users|readings|prices|events" | split: "|" %}
{% assign texts = "Detailed statistics|Automatic reports|Savings analysis|Meteodata|∞ users|Simple reading|Integrated pricelists|Notices" | split: "|" %}

<div class="subheader">
    <div class="container">
        {% include breadcrumbs.html %}
    </div>
</div>

<div class="container">
    <div class="menu__placeholder" rel="menu--sticky"></div>
    <ul class="menu menu--sticky">

        <span class="hidden">{% include generated/features.svg %}</span>

        {% for anchor in anchors %}<li>
        <a href="#{{ anchor | capitalize }}" class="feature__icon">
            <svg viewBox="0 0 100 100">
                <use xlink:href="#features-{{ anchor }}"></use>
            </svg>
            <span class="feature__icon-text">{{ texts[forloop.index0] }}</span>
        </a></li>{% endfor %}
        <li class="menu__more"><a href="#More" class="feature__icon">+</a></li>
    </ul>
</div>

<div class="content">
    <div class="container">

        <div class="feature">
            <h2 class="feature__title" id="Stats">Detailed Consumption and Costs Statistics</h2>
            <p> With Enectiva, all your data concerning consumption will be neatly arranged and organized in one place. In this way, you can monitor the overall energy consumption in the building (gas, cold water, hot water, heat, cold, electric power &mdash; separate for the ventilation system, lighting, appliances, or cold generation operation). Furthermore, you can work with energy monitoring separately according to the various uses of energy. You can, for instance, monitor the electricity consumed by the operation of AC units, lightning systems or cooling devices. All energy data can be displayed in technical units as well as in financial ones.
                p>
                <div class="feature__tour">
                    <div class="feature__plan">
                        <img src="/img/features/stats.png">
                        <span class="feature__step-number" style="left: 58%;top: 8%" data-i="1">1</span>
                        <span class="feature__step-number" style="left: 13%;top: 21%" data-i="2">2</span>
                        <span class="feature__step-number" style="left: 90%;top: 20%" data-i="3">3</span>
                        <span class="feature__step-number" style="left: 83%;top: 78%" data-i="4">4</span>
                    </div>
                    <ul class="feature__steps">
                        <li><span class="feature__step-number" data-i="1">1</span> Choose energy for which you want to see statistical data</li>
                        <li><span class="feature__step-number" data-i="2">2</span> Set the parameters of the graph you wish to display</li>
                        <li><span class="feature__step-number" data-i="3">3</span> Choose the time period and click on Display</li>
                        <li><span class="feature__step-number" data-i="4">4</span> All reports can be download in the .xls format</li>
                    </ul>
                    <div class="feature__details">
                        <div class="feature__detail feature__detail--criss-cross">
                            <img src="/img/features/stats1.svg">
                            <div class="feature__detail-text">
                                <h2>Proportional Graphs</h2>

            <p> Proportional graphs show the influence of energy on the final costs, the energy usage of various parts of the building compared to the overall consumption of the building, or the influence of the occupants, facilities and unmeasured consumption. Energy auditors or power engineers will appreciate the fact that Enectiva shows the unmeasured consumption, i.e. the difference between the total sum of all the data from all the monitored readers and the actual, final data on the main reader used for invoicing.</p>
        </div>
    </div><div class="feature__detail feature__detail--criss-cross">
    <img src="/img/features/stats2.svg" class="feature__bottom">
    <div class="feature__detail-text">
        <h2>Comparative Graphs</h2>

        <p> They serve to compare the usage of two or more parts on the same level &mdash; i.e. benchmarking. Do you wish to compare the heat consumptions per square meter in all your buildings? Comparative graphs are here to do that for you. You can also compare individual tenants among one another or manufacturing sites according to their production.</p>
    </div>
</div><div class="feature__detail feature__detail--criss-cross">
    <img src="/img/features/stats3.svg" class="feature__bottom">
    <div class="feature__detail-text">
        <h2>Monthly Consumption</h2>

        <p> Enectiva shows you the development of the use of individual energy resources during the year. Moreover, you can combine the graph with the development of temperature and thus control if the development of consumption corresponds to the climatic conditions in a given location. Thanks to the integrated price lists of all utilities, you can switch these graphs also to a final costs diagram. When you click on the column that represents a certain month, you will see the daily statistics, and if you click on a particular day you will get to the level of individual hours. You return by clicking outside of the column.
            p>
    </div>
</div><div class="feature__detail feature__detail--criss-cross">
    <img src="/img/features/stats4.svg" class="feature__bottom">
    <div class="feature__detail-text">
        <h2>Development Graphs</h2>

        <p> They show the cumulative sum of the consumption or costs. In this way, you can very easily display the growth rate of your consumption during the monitored period.</p>
    </div>
</div>
</div>
</div>
</div>

<div class="feature">
    <h2 class="feature__title" id="Reports" > Automatic Reports</h2>
    <p> It is very easy to set up automatically generated reports about daily, weekly or monthly consumptions, costs or results of saving measures you have implemented. By making these routine tasks automatic, you will take away much of the administrative strain of your team.
    </p>
    <div class="feature__tour">
        <div class="feature__plan">
            <img src="/img/features/reports.png">
            <span class="feature__step-number" style="left: 91%;top: 0%" data-i="1">1</span>
            <span class="feature__step-number" style="left: 24%;top: 51%" data-i="2">2</span>
        </div>
        <ul class="feature__steps">
            <li><span class="feature__step-number" data-i="1">1</span> Automatic reports can be defined for any graph in Enectiva</li>
            <li><span class="feature__step-number" data-i="2">2</span> Choose the frequency in which the report will be sent to you</li>
        </ul>
        <div class="feature__details">
            <div class="feature__detail feature__detail--split">
                <h2>Regular Time Report</h2>
                <p> After setting the time interval, this type of report will automatically send the data chosen by you directly to your e-mail. The extent and make-up of the data in the report depends only on you. You can add consumption and costs data to the report in the form of both charts and graphs. Each user can customize his report make-up and receive only data that are of interest or importance to him. Thus, you do not have to go through large amount of data and look for those relevant to you.</p>
            </div>
            <div class="feature__detail feature__detail--split">
                <h2>Automatic Notices</h2>
                <p> The job of an emergency notice is to inform you that a certain critical point has been reached. As with the regular reports, you decide what it is that Enectiva will monitor. It can control, for example, the exceeding of a certain consumption or costs figure, the necessity to inspect some part of the equipment or a measuring device, the change of outside temperature, or (thanks to Enectiva's connection to energy exchanges) even the development of energy prices on the PEX and EEX exchanges. With the automatic notices correctly set, you will able to detect many cases of wasting throughout the year.</p>
            </div>
        </div>
    </div>
</div>

<div class="feature">
    <h2 class="feature__title" id="Savings" > Saving Analysis</h2>
    <p> If you realize any energy project on your building or if you introduce cost-saving measures, the second and no less important phase of such a project follows &mdash; the monitoring of appreciation, and optimization. Not even the best design of a project or measure can cover all factors influencing the development of the project's appreciation. Thus, the monitoring and assessment of the progress, and the following optimization are indispensable for all such projects.</p>
    <div class="feature__tour">
        <div class="feature__plan">
            <img src="/img/features/savings.png">
            <span class="feature__step-number" style="left: 48%;top: 11%" data-i="1">1</span>
            <span class="feature__step-number" style="left: 0%;top: 11%" data-i="2">2</span>
            <span class="feature__step-number" style="left: 0%;top: 80%" data-i="3">3</span>
            <span class="feature__step-number" style="left: 80%;top: 72%" data-i="4">4</span>
        </div>
        <ul class="feature__steps">
            <li><span class="feature__step-number" data-i="1">1</span>Currently attained monthly savings</li>
            <li><span class="feature__step-number" data-i="2">2</span>Prediction of future savings and costs in the years to follow</li>
            <li><span class="feature__step-number" data-i="3">3</span>Predicted and current cashflow of the given energy project</li>
            <li><span class="feature__step-number" data-i="4">4</span>Summary of economic data on the project</li>
        </ul>
        <div class="feature__details">
            <p> Enectiva helps you with this task. It makes all calculations for you and, on one single page, you can easily see the consumption development and its comparison with the average consumption during the last three years. You can further see the monthly savings made by the measure and the development of and prediction for the financial side of the project, using the cash flow method based on economic parameters. As a result, you can easily find out whether the project is still in the stage of repaying the investment or of profitability, and also the current estimated NPV value at the end of the project's lifespan.</p>
        </div>
    </div>
</div>

<div class="feature">
    <h2 class="feature__title" id="Meteo" >Meteodata</h2>
    <p> Enectiva is connected to the network of weather stations all around the Czech Republic. When entering the input data of a building, you chose the weather station nearest to it. Enectiva will then receive its climatic conditions information, which you can display in a single graph with the consumption of individual energy resources. Thus, you can easily control whether the energy used on heating and cooling corresponds to the outside climatic conditions. Such comparison easily detects mistakes in the regulation setting of the mentioned systems.
    </p>
    <div class="feature__tour">
        <div class="feature__plan">
            <img src="/img/features/meteo.png">
            <span class="feature__step-number" style="left: 51%;top: 7%" data-i="1">1</span>
            <span class="feature__step-number" style="left: 47%;top: 53%" data-i="2">2</span>
            <span class="feature__step-number" style="left: 70%;top: 77%" data-i="3">3</span>
        </div>
        <ul class="feature__steps">
            <li><span class="feature__step-number" data-i="1">1</span> Tick the temperature display option</li>
            <li><span class="feature__step-number" data-i="2">2</span> Detect wasting in heating or cooling</li>
            <li><span class="feature__step-number" data-i="3">3</span> Display the average, minimum or maximum temperature</li>
        </ul>
    </div>
</div>

<div class="feature">
    <h2 class="feature__title" id="Users" > Unlimited Number of Users under a Licence</h2>
    <p> Enectiva's licence system is unique on the Czech market mainly due to its applicability to a number of buildings and meters that are monitored. The number of users or access PCs is not important. You determine the number of user accounts yourself directly in the Enectiva interface according to your immediate needs, without any of the changes influencing your licence invoice.</p>
    <p> Another advantage of this kind of licence is that there is no need to contact the sales team in order to increase or decrease the number of user accounts, and to deal with the related paperwork. The result is a faster administration of user accounts that responds immediately to your current needs and the company's structure.</p>
    <div class="feature__tour">
        <div class="feature__plan">
            <img src="/img/features/users.png">
            <span class="feature__step-number" style="left: 28%;top: 14%" data-i="1">1</span>
            <span class="feature__step-number" style="left: 28%;top: 32%" data-i="2">2</span>
            <span class="feature__step-number" style="left: 28%;top: 69%" data-i="3">3</span>
        </div>
        <ul class="feature__steps">
            <li><span class="feature__step-number" data-i="1">1</span>Enter the login data of the new user</li>
            <li><span class="feature__step-number" data-i="2">2</span>Define the rights of the new user</li>
            <li><span class="feature__step-number" data-i="3">3</span>If needed, enter other information, such as billing data</li>
        </ul>
    </div>
</div>

<div class="feature">
    <h2 class="feature__title" id="Readings" > Manual As Well As Automatic Meter Reading Are Supported</h2>
    <p> Meter reading data can be put into Enectiva either manually or they can be sent in via a remote device. Automatic readings save the time of your technicians and they allow you to set the reading frequency in the range from ten minutes to one day. Enectiva supports a wide range of hardware products that enable remote meter reading, no matter whether the data are collected on a wire or wireless basis. Similarly, the producer and the type of the remote meter do not matter. Enectiva is an open system whose interface is freely available to the public.</p>
    <p>For manual input you can use a simple form right within Enectiva or (for example to input older meter reading data) a prepared form in the .xls format (MS Excel). You can also open each of the meters separately and enter the reading data manually.</p>
    <div class="feature__tour">
        <div class="feature__plan">
            <img src="/img/features/readings.png">
            <span class="feature__step-number" style="left: 0%;top: 20%" data-i="1">1</span>
            <span class="feature__step-number" style="left: 29%;top: 20%" data-i="2">2</span>
            <span class="feature__step-number" style="left: 21%;top: 86%" data-i="3">3</span>
        </div>
        <ul class="feature__steps">
            <li><span class="feature__step-number" data-i="1">1</span> You simply enter the readings of all energies, using just one simple form</li>
            <li><span class="feature__step-number" data-i="2">2</span> Even when entering data, you can watch the development of the consumption based on the last three readings.</li>
            <li><span class="feature__step-number" data-i="3">3</span> Once the data is saved, they are projected to the graphs and statistics, which you can then use in invoicing.</li>
        </ul>
    </div>
    <div class="feature__details">
        <p> Those of our customers who administer a large number of buildings use the option of combining automatic readings with manual ones. This poses no problem for Enectiva. It is entirely up to the client what meters will be read in which ways.</p>
    </div>
</div>

<div class="feature">
    <h2 class="feature__title" id="Prices" > Integrated Energy Price Lists</h2>
    <p> Enectiva contains the price lists of all energy suppliers active in the Czech Republic. You choose your distributor in the system, put in the unit price for the utility arranged with the supplier, and Enectiva will automatically count the overall costs according to the formulas given by ERO (Energy Regulatory Office). We update the prices whenever a new price is announced by ERO.</p>
    <div class="feature__tour">
        <div class="feature__plan">
            <img src="/img/features/prices.png">
            <span class="feature__step-number" style="left: 0%;top: 25%" data-i="1">1</span>
            <span class="feature__step-number" style="left: 0%;top: 40%" data-i="2">2</span>
            <span class="feature__step-number" style="left: 59%;top: 7%" data-i="3">3</span>
        </div>
        <ul class="feature__steps">
            <li><span class="feature__step-number" data-i="1">1</span> Choose name, supplier and energy type</li>
            <li><span class="feature__step-number" data-i="2">2</span> Enter the unit price of the commodity</li>
            <li><span class="feature__step-number" data-i="3">3</span> Display other components of the price, including the distribution fee</li>
        </ul>
    </div>
</div>

<div class="feature">
    <h2 class="feature__title" id="Events" > Events and notices</h2>
    <p> You can enter any change that occurs in your building or portfolio into Enectiva (for example, the heat/cold source replacement, a change of the energy supplier, a change of the energy price, windows replacement, thermal insulation of the object, etc.) You can then view these changes in monthly consumption graphs, and thus you will be able to see what impact these events had on consumption and on costs.</p>
    <div class="feature__tour">
        <div class="feature__plan">
            <img src="/img/features/events1.png">
            <span class="feature__step-number" style="left: 92%;top: 1%" data-i="1">1</span>
            <span class="feature__step-number" style="left: 67%;top: 52%" data-i="2">2</span>
        </div>
        <ul class="feature__steps">
            <li><span class="feature__step-number" data-i="1">1</span> Saved events are displayed directly in the consumption overview</li>
            <li><span class="feature__step-number" data-i="2">2</span> You will see what impact the event had on consumption.</li>
        </ul>
    </div>

    <p> Enectiva also allows you to set up notices in case of an unexpected rise or drop in consumption, outside temperature, costs, etc. If such a change happens, Enectiva will automatically send a notice to all the e-mail addresses that you have defined in the system. With this function, you will be able to avoid all unnecessary costs in case of breakdowns (water or gas leakage) and you will be able to quickly react to unexpected changes in weather.</p>
    <div class="feature__tour">
        <div class="feature__plan">
            <img src="/img/features/events2.png">
            <span class="feature__step-number" style="left: 0%;top: 19%" data-i="1">1</span>
            <span class="feature__step-number" style="left: 0%;top: 34%" data-i="2">2</span>
            <span class="feature__step-number" style="left: 0%;top: 58%" data-i="3">3</span>
            <span class="feature__step-number" style="left: 66%;top: 48%" data-i="4">4</span>
        </div>
        <ul class="feature__steps">
            <li><span class="feature__step-number" data-i="1">1</span> Define the criteria of the notice</li>
            <li><span class="feature__step-number" data-i="2">2</span> Write the text of the notice that will be sent to the recipient</li>
            <li><span class="feature__step-number" data-i="3">3</span> Choose the recipients of the notice</li>
            <li><span class="feature__step-number" data-i="4">4</span> Avoid unnecessary costs related to, for instance, night-time breakdowns</li>
        </ul>
    </div>
</div>



<div class="feature">
    <h2 class="feature__title" id="EasyControl"> Easy to Use Interface</h2>
    <p> Even the not technically oriented users can understand energy management. During the development of the user interface, our team focused on maximum ease and intuitiveness of Enectiva. All functions and controls are designed in such a way that, after a short initial training, each user gets quickly familiar with Enectiva. An inspiration during the development of the user interface and its functions were, for example, products of Google.</p>

    <div class="feature__details">
        <div class="feature__detail feature__detail--criss-cross">
            <img src="/img/features/easy_control1.svg">
            <div class="feature__detail-text">
                <h2>Easy Management of Meters</h2>

                <p> In Enectiva, meters are included in the floor plans of a building. Therefore, you can easily display the individual floors of a building and edit the meters directly from the plans. This saves you the toilsome searching through documents and charts in order for you or your technician to locate the various meters.</p>
            </div>
        </div><div class="feature__detail feature__detail--criss-cross">
        <img src="/img/features/easy_control2.svg">
        <div class="feature__detail-text">
            <h2>Function Drag&amp;Drop</h2>

            <p> Enectiva tries to solve any task in the most simple and elegant way possible. The Drag&amp;Drop function enables you to move all data to a newly selected higher category by simply grabbing and dragging an occupant, a building, or a compound. For example, if you manage a portfolio of more investors and one buys a real estate from the other, you transfer all data about this real estate into the new owner's portfolio with a single move.</p>
        </div>
    </div>
    </div>
</div>

<div class="feature">
    <h2 class="feature__title" id="More">Other functions</h2>
    <p> Even the not technically oriented users can understand energy management. During the development of the user interface, our team focused on maximum ease and intuitiveness of Enectiva. All functions and controls are designed in such a way that, after a short initial training, each user gets quickly familiar with Enectiva. An inspiration during the development of the user interface and its functions were, for example, products of Google.</p>

    <div class="feature__details">
        <div class="feature__detail feature__detail--criss-cross">
            <img src="/img/features/more1.svg">
            <div class="feature__detail-text">
                <h2>Connection to the PEX and EEX Exchanges</h2>

                <p> Thanks to its connection to the PEX and EEX energy exchanges, you can follow the development of electric power and gas prices directly from the Enectiva interface. In this way, you can easily watch the prices development trend, and invite tenders for an energy supplier at a convenient moment. Using the automatic reports, you can also set Enectiva to send you a notice as soon as the energy price reaches the desired value.</p>
            </div>
        </div><div class="feature__detail feature__detail--criss-cross">
        <img src="/img/features/more2.svg" class="feature__bottom">
        <div class="feature__detail-text">
            <h2>Google Maps Supported</h2>

            <p> Do you need to quickly look up information on several different buildings in your portfolio? Forget the annoying searching through many archived files. In Enectiva, you can switch from one building to another with only three clicks, thanks to its connection to Google Maps.</p>
        </div>
    </div><div class="feature__detail feature__detail--criss-cross">
        <img src="/img/features/more3.svg">
        <div class="feature__detail-text">
            <h2>Facility management</h2>

            <p> Enectiva contains the basic features of facility management such as the following parameters: “total floor area”, “gross floor area”, or “gross leasable area”. These areas can be distinguished in Enectiva according to their use (for example as offices, storerooms, facilities, retail, etc.) Similarly, you can input the number of occupants of the object, parking spots, kitchenettes, WCs, urinals and the like. All these parameters are divided into the overall number and the currently occupied or used ones. As a result, Enectiva can recalculate the consumption and costs to the specific consumption or specific costs according to the selected criterion. The data are archived and you can view the time development of these parameters at any time in the future.</p>
        </div>
    </div>
    </div>
</div>
</div>
</div>

