@import "compass/reset"
@import "variables.css.sass"
@import "compass/typography/vertical_rhythm"
@import "compass/utilities/general/clearfix"

$base-font-size: 16px
$base-line-height: 24px
$rhythm-unit: 'em'
@include establish-baseline($base-font-size)

//.block
//  &__element
//    background: blue
//  &--modifier
//    background: red


@import "swipebox.scss"