@import "compass/reset"
@import "variables.css.sass"
@import "compass/typography/vertical_rhythm"
@import "compass/utilities/general/clearfix"
@import "compass/css3/box-sizing"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,latin-ext)
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext)

$base-font-size: 16px
$base-line-height: 28px
$rhythm-unit: 'em'
+establish-baseline($base-font-size)

h1, h2, h3
  font-family: 'Didact Gothic', Verdana, sans-serif
  +padding-leader(.2)
  +padding-trailer(.1)
body
  font-family: 'Open Sans', Verdana, sans-serif

h1
  +adjust-font-size-to($base-font-size * 2.6)
h2
  +adjust-font-size-to($base-font-size * 2.3)
h3
  +adjust-font-size-to($base-font-size * 2)

/*doc
 * Exception to BEM!
 *
 * This class is used within several high level blocks and only limits the width of the content's width
 */
.container
  max-width: 960px
  margin: 0 auto
  padding: 0 .5em

@import 'header'
@import 'menu'
@import 'content'
@import 'footer'
@import 'newsletter'
@import 'author'

@import "swipebox.scss"