.feature
  clear: both
  +margin-trailer(4)
  &__title
    color: $color-primary
  &__image
    $dim: 145px
    width: $dim
    height: $dim
    +border-radius($dim / 2)
    overflow: hidden
    margin-right: 20px
    +rhythm-margins(1)
    float: left
    border: 1px solid $unimportant-accent
    +single-transition(all, ease-in-out, 150ms)
    &:hover, &:focus, &:active
      border-color: $unimportant
  &__desc
    display: none
  &__toggler
    display: block
    float: right
    &--more
      &:after
        content: "▼"
    &--less
      &:after
        content: "▲"
  &:nth-child(even)
    .feature__image
      margin-right: 0
      margin-left: 20px
      float: right