.feature
  +margin-trailer(3)
  &__title
    max-width: 12em
    margin: 0
  &:nth-child(odd)
    .feature__title
      float: left
      padding-right: .75em
  &:nth-child(even)
    .feature__title
      float: right
      padding-left: .75em
      text-align: right
  &__inner
    max-height: 8em
    overflow: hidden
    position: relative
    &:after
      display: block
      content: " "
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      +background-image(linear-gradient(top,transparent 50%, white 100%))