/*doc
 * Defines header block containing logo with a link to HP and top menu with toggler
 *
 * CSS-only toggling based on http://www.outofscope.com/css-only-menu-toggle-no-javascript-required/
 */

.header
  +rhythm-padding(.5)

  $width: 220px
  $height: 67px

  height: $height

  &__title
    float: left
    position: relative
    width: auto //$width
    height: 100% //$height
    padding: 0
    display: block
    a
      display: block
      overflow: hidden
      text-indent: .5em
      width: 100%
      height: 100%
  &__logo
    position: absolute
    left: 0
    top: 0
    background: white
    max-width: 220px
    height: 100%

  &__menu
    display: none
    width: 100%
    +box-sizing('border-box')
    float: right
    clear: right
    margin-bottom: -100%
    position: relative
    background: white
  &__menu-toggle-switch
    float: right
    font-size: $base-font-size * 3.5
    padding: .15em .25em .25em .25em
    color: $color-primary-dark
  &__menu-toggler
    display: none
  #Menu-toggle:checked + &__menu
    display: block
    &:after
      content: ' '
      display: block
      height: .4em
      bottom: -.4em - .5em
      position: relative
      +background-image(radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.8) 0%, transparent 80%))
      background-repeat: no-repeat
      background-position: 0 -.2em

  @media(min-width: 800px)
    min-height: $height
    height: auto
    position: relative
    border-bottom: 1px solid #eee

    &:after
      $h: 2em
      content: ' '
      height: $h
      width: 100%
      display: block
      position: absolute
      bottom: -$h
      +background-image(linear-gradient(rgba(0,0,0,0.05), transparent))

    &__title
      position: absolute
      top: 0
      bottom: 0
      margin: auto
    &__menu-toggle-switch
      display: none
    &__menu
      display: block
      position: static
      margin-bottom: auto
      width: auto
      float: none
      margin-left: $width + 20