/*doc
 * Defines header block containing logo with a link to HP and top menu with toggler
 *
 * CSS-only toggling based on http://www.outofscope.com/css-only-menu-toggle-no-javascript-required/
 */

.header
  @include padding-leader(.5)

  $smallWidth: 94px
  $smallHeight: 54px
  $width: 220px
  $height: 67px

  height: $smallHeight

  &__title
    float: left
    position: relative
    overflow: hidden
    width: $smallWidth
    height: $smallHeight
    &, a, a:after
      display: block
    a, a:after
      width: 100%
      height: 100%
    a:after
      content: ' '
      background: image-url('logo-small.png') left top no-repeat
      position: absolute
      top: 0
      left: 0

  &__menu
    display: none
    width: 100%
    +box-sizing('border-box')
    float: right
    clear: right
    margin-bottom: -100%
    position: relative
    background: white
  &__menu-toggle-switch
    float: right
    font-size: $base-font-size * 3.5
    padding: .15em .25em .25em .25em
    color: $color-primary-dark
  &__menu-toggler
    display: none
  #Menu-toggle:checked + &__menu
    display: block
    &:after
      content: ' '
      display: block
      height: .4em
      bottom: -.4em - .5em
      position: relative
      +background-image(radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.8) 0%, transparent 80%))
      background-repeat: no-repeat
      background-position: 0 -.2em

  @media(min-width: 450px)
    height: $height
    &__title
      height: $height
      width: $width
      a
        &:after
          background-image: image-url('logo.png')
          background-size: 100%
  @media(min-width: 800px)
    &__menu-toggle-switch
      display: none
    &__menu
      display: block