{% assign locale = page.url | extract_locale %}

<!DOCTYPE html>

{% if page.schema %}
    {% assign schema_type = page.schema %}
{% else %}
    {% assign schema_type = 'WebPage' %}
{% endif %}
<html itemscope itemtype="{{ type }}" lang="{{ locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - Enectiva</title>
        <meta name="viewport" content="width=device-width">


        {% stylesheet app %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <meta name="language" content="{{ locale }}">
        <link href="/img/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
    </head>
    <body>
        <div class="container">
            {% include header.html %}
            {% include menu.html %}

            <div class="content">
                {{ content }}
            </div>

            {% include footer.html %}
        </div>

        {% include google-analytics.html %}
        {% javascript application %}
    </body>
</html>
