---
layout: default
---


{% assign locale = page.url | extract_locale %}
<div class="posts">
    {% for post in paginator.posts %}
    <div class="posts__post post post--in-list" itemscope itemtype="http://schema.org/BlogPosting">
        <h2 class="post__title" itemprop="name headline">
            <a href="{{ post.url }}" itemprop="sameAs">
                {{ post.title }}
            </a>
        </h2>
        <time class="post__published" datetime='{{ post.date | date: "%Y-%m-%d" }}' itemprop="dateCreated">
            {{ post.date | localize: ':display', locale }}
        </time>
        <p class="post__perex">{{ post.content | truncate: 600 }}</p>
        </a>
    </div>
    {% endfor %}
</div>

{% include pagination.html %}